@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-MediumItalic.eot');
  src :url('../fonts/CircularStd/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-MediumItalic.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-MediumItalic.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-Black.eot');
  src :url('../fonts/CircularStd/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-Black.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-Black.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-Medium.eot');
  src :url('../fonts/CircularStd/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-Medium.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-Medium.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-Bold.eot');
  src :url('../fonts/CircularStd/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-Bold.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-Bold.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-BlackItalic.eot');
  src :url('../fonts/CircularStd/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-BlackItalic.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-BlackItalic.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd/CircularStd-BookItalic.eot');
  src :url('../fonts/CircularStd/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-BookItalic.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-BookItalic.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd/CircularStd-BoldItalic.eot');
  src :url('../fonts/CircularStd/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-BoldItalic.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-BoldItalic.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd/CircularStd-Book.eot');
  src :url('../fonts/CircularStd/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CircularStd/CircularStd-Book.woff2') format('woff2'),
  url('../fonts/CircularStd/CircularStd-Book.woff') format('woff'),
  url('../fonts/CircularStd/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

