//Main color
$primary-color : #2798F7;
$success-color : #27F79C;
$danger-color : #FA5050;
$dark-color : #2B2B3E;

//Font color
$text-light : #B0BEC5;
$text-primary : #2798F7;
$text-white : #fff;
$text-danger : #FA5050;
$text-success : #27F79C;

//shadow color
$dark-shadow: rgba(0, 0, 0, 0.4);

//blur color
$blur-color : #ffffffd6;

//border color
$border-modal : rgba(255,255,255,0.14)